.index-page__container {
  min-height: calc(100vh - 110px);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.index-page__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  margin-bottom: 54px;
}

.index-page__h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.index-page__html-input {
  margin-top: 16px;
  margin-bottom: 46px;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px;
  font-size: 16px;
  background: #fafafa;
  border: 2px solid #000000;
  flex: 1;
}

.index-page__submit-btn {
  display: block;
  padding: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #141414;
  background: #ffd803;
  border: 1px solid #141414;
  margin: auto;
  cursor: pointer;
}
